
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.close-settings {
    position: absolute;
    z-index: 4;
    right: 1em;
    bottom: 1em;
}

input {
    font-size: 1.5em;
    padding: 0.5em;
    min-width: none;
}

.team-button {
    font-size: 1em;
    padding: 0.5em;
    min-width: none;
    height: 5vw;
    padding: 5vw;
    background-color: #ffffffd4;
    border: none;
    border-radius: .5em;
    pointer-events: fill;
}

.team_colors {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.team_buttons {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    gap: 1em;
    height: 1em;
    width: 90%;
}

.settings {
    display: none;
    z-index: 3;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.868);
    border: 3px solid rgba(0, 0, 0, 0.567);
    border-radius: 0.6em;
    height: 96%;
    width: 96%;
    top: 2%;
    left: 2%;
    overflow-x: wrap;
    overflow-y: scroll;
}

.buttons {
    bottom:2em;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    pointer-events: none;
}

.lock_button {
    position: absolute;
    z-index: 4;
    right: 1em;
    top: 1em;
}

.server_status {
    position: absolute;
    z-index: 4;
    right: 1em;
    bottom: 1em;
    font-size: x-large;
    background-color: #ffffffd4;
    border: none;
    border-radius: .5em;
    padding: 0.5em;
    pointer-events: none;
}

.lock::after:disabled {
    content: "Locked";
}

.photo {
    position: absolute;
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #646f5bbc;
}

video {
    object-fit: cover;
    border: 1px solid black;
    max-width: 95%;
    max-height: 95%;
}

svg {
    scale: calc(32px*2em/32px);
}

.take-photo {
    position: absolute;
    z-index: 2;
    bottom: 10%;  
    left: 50%; 
    transform: translate(-50%, -0%);
}

#toggle_video_off {
    position: absolute;
    z-index: 2;
    left: 10%;
    bottom: 3em;

    border-radius: 0.5em;
}

.info_text {
    position: absolute;
    z-index: 2;
    left: 50%;
    padding-top: 0;
    top: 0.5em;
    transform: translate(-50%, -0%);
    background-color: #ffffffa6;
    border-radius: 0.5em;
    padding: 0.1em;
    font-size: 1.5em;
    color: #000000;
    /* display: none; */
}

.info_text p {
    margin: 0;
    padding: 0;
}

.lock {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.878);
    z-index: 5;
    left: 0;
    top: 0;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5em;
    display: none;
}


button {
    font-size: x-large;
    background-color: #ffffffd4;
    border: none;
    border-radius: .5em;
    padding: 0.5em;
    pointer-events: fill;
}

button:active {
    background-color: #ffffffa6;
}

.lock button {
    background-color: #ffffff00;
    border: none;
    color: #f1f1f1;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    pointer-events: fill;
}

.lock button:disabled {
    background-color: #ffffff00;
    border: none;
    color: #be7b7b62;
    font-size: 1.8em;
    padding: 0.5em;
    border-radius: 0.5em;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

input {
    pointer-events: fill;
}

/* #ping {
    position: absolute;
    z-index: 1;

    left: 70%;
    bottom: 3em;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    background-color: #ffffffd4;
    padding: 0.5em;
    pointer-events: fill;
} */

/* #ping_circle {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    height: 0em;
    width: 0em;
    animation: forwards;
    
} */


.has-flag {

}

.disconnected {
    /* blink in and out */
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.div-icon {
    width: 0px;
    height: 0px;
    padding: 0em;
    /* font-size: large; */
    border-radius: 50% 50% 50% 50%;
    border: 2px solid black;
    margin: 0;
    background-color: #ffffffd4;
}

.team-1 {
    background-color: #f64545;
}

.team-2 {
    background-color: #8585ef;
}

.team-3 {
    background-color: #30eb30;
}

.team-4 {
    background-color: #de3bde;
}
.team-5 {
    background-color: #57f2c1;
}
.team-6 {
    background-color: #dfa644;
}
.team-7 {
    background-color: #a1a1e1;
}


.server_status {
    
}


#ping_circle:enabled {
    /* height: 50em;
    width: 50em; */
    display: flex;
    animation: ping_circle 1s linear;
    scale: 10;

        top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@keyframes ping_circle {
    0% {
        position: absolute;
        /* opacity: 1; */
        height: 1em;
        width: 1em;
        /* border-radius: 0.5em; */
    }

    
    100% {

        /* opacity: 0; */
        /* border-radius: 100%; */
            /* opacity: 0; */
        height: 100vh;
        width: 100vh;
        transform: translate(25%, 25%);

    }
    
}

#challengeCard{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.878);
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    color: #f1f1f1;
    display: none;
    justify-content: center;
    align-items: center;
    gap:5em;
}
.card{
    display: block;
  max-width:920px;
  max-height:380px;
  width: auto;
  height: auto;
}


