
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    border: 1px solid black;
    display: false;
}


.lock {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.878);
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5em;
}
button {
    font-size: x-large;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}